body {
    background-color: #eaf6f6;

}

h1,h3{
    color: #66BFBF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img{
    border-radius: 100%;
}


li{
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    font-style: normal;
    text-align: left;
    width: 70%;
}

.reponsibilities{
    text-align: left;
    padding-left: 20%;
}